p{
    color:rgb(128, 71, 7);
    font-size: 25px;
    } 

    form{
        background-color: rgb(228, 153, 130);
    }

    h1{
        color:grey;
        text-align: center;
        font-size: 50px;
    }
    body{
        background-color: rgb(247, 156, 156);
    }